<mat-card>
  <form #authForm="ngForm"(ngSubmit)="onSubmit()">
          <div class="example-container"> 
       <h4>Author Name</h4>
       
       <input [(ngModel)]="name"
                          name="name"
                          placeholder={{name}}
                          required
                          #auth="ngModel">
      <mat-error *ngIf="!(auth.valid || auth.pristine)">
       Author Name is required
   </mat-error>

   <div>
   <button [disabled]="!authForm.form.valid">Change Author Name</button>
  </div>
</div>
   </form>
   </mat-card>
<!--השם של האינפוט משמעותי כאן כי השם צריך להיות זהה לשם שנמצא בTS -->