<div>
  <button  mat-raised-button color="primary"routerLink="/addpost" routerLinkActive="active">ADD POST</button>
</div>

<!--form #postForm="ngForm"(ngSubmit)="onSubmit()" >
  

<button >save to data base</button>

</form-->
<mat-accordion>
  
    <mat-expansion-panel *ngFor = "let post of Post$ |async"   >
      <mat-expansion-panel-header >
        <mat-panel-title>
          {{post.title}}
        </mat-panel-title>
      </mat-expansion-panel-header > 
      {{post.body}} 
      <div>
        by {{post.author}}
      </div>
    
     
     
    <div>
      <button mat-raised-button color="primary" [routerLink]="'/addpost/'+post.id" routerLinkActive="active">Edit</button>
  </div>
  <div>
  <button mat-raised-button color="primary"
  (click)= deletePost(post.id) >Delete
</button>
  </div>
    </mat-expansion-panel>
  </mat-accordion>
  