
  
  <!-- three line list -->
  <p *ngIf= "!(authors$ | async)"> loding.... </p>

 
 <mat-accordion>
  <mat-selection-list #authors1>
    <mat-list-option *ngFor="let author of authors$ | async">
        <div *ngIf="author.id == id; else other"> <p mat-line>{{name}}</p></div>
      <ng-template #other><p mat-line > {{ author.name }}  </p></ng-template>
       <a [routerLink]="['/editauthor',author.id,author.name]" routerLinkActive="active">Edit</a>
       
    </mat-list-option>
  
  </mat-selection-list>
  <mat-card>
    <form #authForm="ngForm"(ngSubmit)="onSubmit()" >
            <div class="example-container"> 
         <h4>Author Name</h4>
         
         <input   placeholder="tap authoe name" [(ngModel)]="newName"
                            name="newName"
                            required
                            #auth="ngModel">
        <mat-error *ngIf="!(auth.valid || auth.pristine)">
         Author Name is required
     </mat-error>
  
     <div>
     <button [disabled]="!authForm.form.valid">Change Author Name</button>
    </div>
  </div>
     </form>
     </mat-card>
   

  <p>
    Options selected: {{authors1.selectedOptions.selected.length}}
  </p>